<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li> 
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="All-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Ratings</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}"  class="dropdown-item">All Products</a>
            </div>
        </li> 

         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dog-beds-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog Beds
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="dog-beds-link">
                <a href="" class="dropdown-item">Bolster Beds</a>
                <a href="" class="dropdown-item">Sofa Dog Beds</a>
                <a href="" class="dropdown-item">All Beds</a>
            </div>
        </li>

         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="play-walk-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Play & walk
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="play-walk-link">
                <a href="" class="dropdown-item">Toys</a>
                <a href="" class="dropdown-item">Training </a>
                <a href="" class="dropdown-item">Dog leash, harness and collar</a>
                <a href="" class="dropdown-item">All Play & Walk</a>
            </div>
        </li>
        
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivials</a>
                <a href="" class="dropdown-item">Deals </a>
                <a href="" class="dropdown-item">Clearence</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>