<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li> 
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Ratings</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=designer&direction=asc" class="dropdown-item">By Designer</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li> 

         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bolster-dog-beds-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bolster Beds
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="bolster_beds_link">
                <a href="{% url 'products' %}?category=washable" class="dropdown-item">Washable</a>
                <a href="{% url 'products' %}?category=removable_cover" class="dropdown-item">Removable Cover</a>
                <a href="{% url 'products' %}?category=bolster_dog_beds,washable,removable_cover" class="dropdown-item">All Beds</a>
            </div>
        </li>

         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sofa-beds-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sofa Beds
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="sofa_beds_link">
                <a href="{% url 'products' %}?category=washable" class="dropdown-item">Washable</a>
                <a href="{% url 'products' %}?category=removable_cover" class="dropdown-item">Removable Cover</a>
                <a href="{% url 'products' %}?category=sofa_dog_beds, washable,removable_covers" class="dropdown-item">All Beds</a>
            </div>
        </li>

          <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hooded-beds-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Hooded/Dome beds 
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="hooded_beds_link">
                <a href="{% url 'products' %}?category=washable" class="dropdown-item">Washable</a>
                <a href="{% url 'products' %}?category=removable_cover" class="dropdown-item">Removable Cover</a>
                <a href="{% url 'products' %}?category=hooded/dome_dog_beds,washable,removable_covers" class="dropdown-item">All Beds</a>
            </div>
        </li>
        
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a> 
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivials" class="dropdown-item">New Arrivials</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals </a>
                <a href="{% url 'products' %}?category=new_arrivials, deals, clearence" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>